{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil du site de symfony avec docker</h1>

    <h2>Ceci est un exercice d'essais</h2>
{% endblock %}